PORT = YOUR PORT
MONGODB_LOCAL = '*****************'
JWT_SECRET=******
KHALTI_PUBLIC_KEY="************************"
KHALTI_SECRET_KEY="************************"
JWT_TOKEN_EXPIRE=**
RECAPTCHA_SECRET_KEY="************************"

EMAIL_USER="example@gmail.com"
EMAIL_PASSWORD="***********"

BACKEND_URI="***********"
KHALTI_GATEWAY_URL = "***********"




